body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h1{
    color: #ff2222;
    width: 100%;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
    font-size: 25px;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}


tbody tr:first-child td:first-child{
    background: #59b759;
    color: white;
    border-top-left-radius: 10px;
}

tbody tr:first-child td:last-child{
    border-top-right-radius: 10px;
}

tbody tr:first-child td{
    background: #59b759;
    color: white;
}

tbody tr td:first-child{
    background: #59b759;
    color: white;
}



/*-----------------POST EDIT---------------*/

form{
    margin-top:100px;
    max-width: 450px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 20px;
    background: #eaeaea;

}
form div {margin-top: 20px;}

#post_form_activeForm{margin-top: 5px; display: flex;}
#post_form_activeForm div{margin-right:20px; }

div input, div textarea{width: 100%; margin-top: 5px; font-size: 18px; padding: 15px;}
div textarea{height: 150px;}
form div label{margin-right: 20px; font-size: 28px; color: #0b599c;}

button{margin-top: 20px; font-size: 18px; }